.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.mat-card{
    width: 17rem;
}

.mat-form-field {
    display: inline;
    
}

.mat-card-title {
    text-align: center;
    padding: 2rem;
}